.about_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    color: black;
    max-width: 1300px;
    background-color: rgb(174,175,179);


}

.about_top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_bottom {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
    margin-top: 50px;
    justify-content: center;

}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
