.contact_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    /* height: 90vh; */
    background-image: url('/public/images/contactbcg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1300px;
}

.contact_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_main h1 {
    font-size: 45px;
    margin: 0;
}

.contact_main p {
    font-size: 20px;
    font-style: italic;
}

.form_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.form_input_fields {
    display: flex;
    gap: 10px;

}

.form_section_fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form_input {
    width: 350px;
    height: 40px;
    border: none;
    background-color: white;
    color:black

}

.form_input_fields textarea {
    width: 350px;
    border: none;
    background-color: white;

}

.form_btn {
    padding: 20px;
    border: none;
    font-size: 16px;
}

.form_btn:hover {
    cursor: pointer;
}

.form_input::placeholder {
    color: rgb(118, 116, 116); 
}

textarea::placeholder {
    color: rgb(118, 116, 116);
}

textarea {
    color: black;
}